@using CodingEventsDemo.ViewModel;

@model AddEventViewModel
<h1>Add Event</h1>

<form method="post" asp-controller="Events" asp-action="Add">

        <div>
        <label for="Name">Event Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        </div>

        <div>
        <label for="Description">Event Description:</label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>

        </div>

        <div>
        <label for="Location">Event Location:</label>
        <input asp-for="Location" />
        <span asp-validation-for="Location"></span>

        </div>

        <div>
        <label for="Attendees">Number of attendees:</label>
        <input asp-for="Attendees" />
        <span asp-validation-for="Attendees"></span>

        </div>

        <div>
        <label asp-for="Type">Event Type</label>
        <select asp-for="Type" asp-items="Model.EventTypes"></select>
        </div>



    <input type="submit" value="Add Event" />
</form>