@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<h1>Edit Event</h1>

<form action="/Events/EditEvent">

    <label>Which event would you like to edit?</label>
    <div>
    @foreach (Event kvp in ViewBag.events)
    {
        <div>
        <label for="uniqueId">@kvp.Id : @kvp.Name</label>
        <input type="radio" name="uniqueId" value="@kvp.Id"/>

        </div>
    }
    </div>
    
    <input type="submit" value="Edit" />
</form>
